.instructions {
  font-family: Avenir, sans-serif;
  color: #ffc60a;
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 10px;
}

.playAgainButton {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 90px;
  font-family: Avenir, sans-serif;
  z-index: 99;
  margin-top: 1rem;
  background: #ffbf81;
  cursor: pointer;
  box-shadow: 0 3px 8px 0 rgb(129 94 94 / 44%), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
  border: none;
  color: white;
  font-weight: 700;
}
.won {
  background: #67ab00;
  box-shadow: inset 0 0 10px #29ff43b3;
}
.loss {
  background: #e12222;
  box-shadow: inset 0 0 10px #f8a000b3;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.title {
  font-family: Avenir, sans-serif;
  font-size: 2.5rem;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
  width: 100%;
  color: #ffc60a;
  /* margin-top: 50px; */
}
 
.loseText {
  font-size: 1.8rem;
  color: red;
  margin: 0;
  font-weight: 700;
  animation: horizontal-shaking 0.3s ease-in-out forwards;
}

.buttonArea {
  z-index: 99;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
    transform-origin: 50% 50%;
    transform: rotate(15deg) scale(6);
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}
 
@media screen and (max-height: 700px) {
  .title {
    top: 3%;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) and (max-height: 700px) {
  .title {
    top: 3%;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1300px) and (max-height: 700px) {
  .appContainer {
    justify-content: space-around;
  }
  .title {
    position: relative;
    transform: none;
    left: 0;
  }
 
  .loseText {
    text-align: center;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 522px) {
  .title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 460px) {
  .title {
    font-size: 1.4rem;
  }
}


