@font-face {
  font-family: "Avenir";
  src: local("Avenire"),
    url("/public/assets/fonts/Avenir-Regular.otf") format("otf");
}


html,
body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at center, #0c383b 40%, #00171f 100%);
  background-size: contain;
  font-family: Avenir, sans-serif;
}

button {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border-radius: 90px;
  font-family: Avenir, sans-serif;
  z-index: 99;
  margin-top: 1rem;
  background: #ffbf81;
  cursor: pointer;
  box-shadow: 0 3px 8px 0 rgb(129 94 94 / 44%), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid #bf747482;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}


.tailCoin{
      position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: -54px;
    /* width: 140px; */
    width: 250px;

}